/*-- scss:defaults --*/
$codefocus-bgcolor: #F8D76B !default;

/*-- scss:rules --*/
.line { display: block !important; }
.line.focus { background: $codefocus-bgcolor; }

pre.numberSource code > span.line > span > a:first-child::before {
    left: -0.7em !important;
}

pre>code.sourceCode > span.line > span >a:first-child::before {
    text-decoration: none;
}

pre.numberSource code > span.line > span > a:first-child::before {
    content: counter(source-line);
    position: relative;
    left: -1em;
    text-align: right;
    vertical-align: baseline;
    border: none;
    display: inline-block;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    padding: 0 4px;
    width: 4em;
    color: #aaaaaa;
}